html, body
{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

header
{
    padding: 6px;
    font-size: 16px;
    text-align: center;
    line-height: 8px;
}

p#names
{
    line-height: 22px;
    color: darkslategrey
}

p, ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1
{
    font-size: 32px;
    color:#3f19b1
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.topnav
{
    background-color: #333;
    overflow: hidden;
}

.topnav a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 16px;
}

.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

.topnav a.active
{
    background-color: #5220E6;
    color: white;
}

.row
{
    height: 100%;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.column 
{
    height: 100%;
    padding: 10px;
    float: left;
}

.left, .right
{
    width: 28%;
}

.middle
{
    width: 39.275%;
}

.tableContainer
{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #333333;
}

.tableContainer tbody
{
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 200px;
}

.tableContainer thead tr
{
    display: block;
}

.tableContainer th
{
    padding: 5px 10px;
    width: 200px;
    background: cornflowerblue;
    border: 2px solid #191919;
}

.tableContainer td
{
    padding: 5px 10px;
    width: 200px;
}

td
{
    text-align: center;
}

.alternativeRow td
{
    background: #e6e6e6;
}

.buttons td
{
    width: 50px;
}

.win
{
    width: 100%;
    font-size: 30px;
    background: #378805;
    color: #fff;
}

.winButton button
{
    height: 100px;
}

.winButton
{
    width: 50%;
}